.App {
    text-align: center;
    min-height: 100vh;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(4px); /* Adjust the blur radius as needed */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}

.logo {
    max-width: 100%; /* Ensure the logo doesn't exceed its original width */
    height: auto; /* Maintain the logo's aspect ratio */
    padding: 10px; /* Add padding around the logo */
}

  .bar-background {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 20vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px; /* Adiciona padding interno para evitar o corte do texto */
  }
  
  
  .cardapio-text {
    font-size: 27px; 
    font-weight: bold;
    color: white;
    margin-bottom: 5px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
  }
  
  .title {
    font-size: 27px; 
    font-weight: bold;
    color: white;
    margin-bottom: 15px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
  }
  
  

  
  .buttons-container {
    margin-top: 14px; /* Aumenta o espaçamento superior para compensar a faixa de separação */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .section-button {
    margin: 12px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
    margin-right: 8px;
  }

  .section-button i {
    margin-right: 8px; /* Adjust the spacing between icon and text */
    color: white;
}
  
  .section-button:hover,
  .section-button.zoom-in {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 60px; /* Add some bottom padding to make room for the "scroll to top" button */
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.77);
    padding: 20px;
    margin-bottom: 50px;
    text-align: center; /* Centraliza todo o conteúdo dentro do container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    word-wrap: break-word; /* Quebra as palavras para ajustar ao tamanho do container */
    transition: transform 0.3s;
  }
  
  .container:hover,
  .container.zoom-in {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  
  .container h2 {
    margin: 0;
    margin-bottom: 20px; /* Aumente este valor para ajustar o espaçamento */
    font-size: 24px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    text-align: center; /* Centraliza o texto do elemento h2 */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
  }
  
  .item-name {
    text-align: left;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
  }
  
  .item-price {
    text-align: right;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 17px;
  }
  